*{
	margin:0px;
	padding:0px;
}
h1{
    text-align:center;
	font:bold 20px;
    font-family: 'Microsoft Tai Le';
    background-color:rgba(149, 198, 190, 0.81);
    border-radius:5px;
    padding:5px;
    box-shadow:rgba(139, 188, 180, 0.81) 10px 10px;
	}
span {
color:white;
}
span:hover {
    color:darkblue;
    background-color:rgba(139, 188, 180, 0.81);
    text-transform:uppercase;
    font-family:Georgia;
    padding:0px 5px 0px 5px;
    border-radius:5px;
    
    
    }
h2{
    text-align:center;
font-size: large;
font-style: italic;
font-family: Georgia, serif;
color:#44636d;
font-weight: bold;
line-height: 300%;
	}
header,section,footer,aside,nav,article,hgroup{
	display:block;
	}
body{
	text-align: center;
    background-color:aliceblue;
	}
a{
text-decoration:none;
}
a:visited {
color: darkblue;
}
#big_wrapper{
	width:1000px;
	margin:20px auto;
	text-align:left;
}
#top_header{
	background:rgba(201, 221, 221, 0.97);
	border:2px solid #ebfcfc;
padding:20px;
border-top-color:lightgrey;
border-left-color:aliceblue;
border-top-left-radius:30px;
border-bottom-right-radius:30px;
}
#top_menu,#bottom_menu{
	background:rgba(168, 180, 178, 0.97);
	color:white;
    padding-left:5px;
    padding-right:5px;
    width:40%;
    float:right;
    border:1px solid #ebfcfc;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;  
}
#top_menu li,#bottom_menu li{
	display:inline-block;
	list-style:none;
	padding-left:7.5%;
    padding-top:10px;
    padding-bottom:10px;
	font:bold 14px Tahoma;

}
.list a:hover {
color:white;
text-transform:lowercase;
padding:5px;
border:1px solid black;
font-family: Georgia, serif;
}
#main_section{
	float:left;
	width:660px;
	margin:30px;
}
#side_news{
	float:left;
	width:220px;
	margin:20px 0px;
	padding:30px;
	background:rgba(201, 221, 221, 0.97);
	}
#the_footer{
	clear:both;
	text-align:center;
	padding:20px;
	border-top:2px solid #44F836;
}
article{
background:rgba(201, 221, 221, 0.97);
padding:20px;
margin-bottom:15px;
border-left: 1px dotted #114e3f;
border-top-left-radius:30px;
border-bottom-left-radius:30px;
}
    article:hover {
	background:white;
    box-shadow:rgba(17, 57, 245, 0.76) 3px 4px;
    z-index:6;
    border:3px double black;
    }

 article >p {
    background:rgba(7, 48, 160, 0.64);
    margin:5px;
    padding:10px;
    font-family:'Times New Roman';
    border-radius:10px;
    color:rgba(201, 221, 221, 0.97);
}
figure img {
box-shadow:rgba(87, 81, 81, 0.27) 5px 5px;
margin:30px 20px 10px 0px;
}

img:hover {
rotation:3deg;
}
figcaption {
    color:rgba(3, 42, 30, 0.96);
text-align:center;
font-family:'Jing Jing';
}
article > footer{
	text-align:right;
}


